.details-wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    min-height: 200px;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

li { 
    margin-bottom: 30px;
}

li p {
    font-size: 16px;
    line-height: 35px;
    color: #333333;
    margin-right: 25px;
    text-align: right;
}

li input {
    height: 35px;
    border: 1px solid #eee;
    line-height: 35px;
    background: #fff;
    padding: 0 16px;
    width: 300px;
}

.submit {
    width: 250px;
    height: 50px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    background: #2d8cf0;
    border: 0px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
}